:root {
  --smm2-white: #fff;
  --smm2-yellow: #fece00;
  --smm2-brown: #5c1c1a;
  --smm2-beige: #fffdee;
  --smm2-black-opacity: rgba(0,0,0,.075);
  --smm2-scrollbar-color: #4e505c;

  --smm2-theme1-main-bg: #d1a619;
  --smm2-theme1-alt-bg: #d1cfc3;
  --smm2-theme1-blur-bg: #ffca00;
  --smm2-theme1-focus-bg: var(--smm2-brown);
  --smm2-theme1-focus-fg: #ffca00;
  --smm2-theme1-card-bg: var(--smm2-beige);
  --smm2-theme1-card-fg: var(--smm2-brown);
  --smm2-theme1-card-radius: 6px;
  --smm2-theme1-card-shadow: 0 .25rem .2rem .125rem var(--smm2-black-opacity);
  --smm2-theme1-textblock-bg: #fff3d3;
  --smm2-theme1-btn-bg: #fece00;
  --smm2-theme1-btn-fg: var(--smm2-brown);
  --smm2-theme1-btn-shadow:
    0 .25rem .075rem .025rem var(--smm2-black-opacity),
    0 0 .125rem .075rem var(--smm2-black-opacity);
  --smm2-theme1-btn-alt-bg: var(--smm2-white);
  --smm2-theme1-btn-alt-fg: var(--smm2-brown);
  --smm2-theme1-btn-alt-shadow: var(--smm2-theme1-btn-shadow);

  --smm2-theme2-main-bg: #ffca00;
  --smm2-theme2-alt-bg: var(--smm2-beige);
  --smm2-theme2-blur-bg: var(--smm2-beige);
  --smm2-theme2-focus-bg: var(--smm2-brown);
  --smm2-theme2-card-bg: var(--smm2-black-opacity);
  --smm2-theme2-card-shadow: 0;
  --smm2-theme2-card-radius: 2px;

  font-family: "Noto Sans", "Roboto", sans-serif;

  scrollbar-color: var(--smm2-scrollbar-color) var(--smm2-black-opacity);
}
* {
  scrollbar-width: thin;
  box-sizing: border-box;
}
[data-theme="1"] {
  --smm2-main-bg: var(--smm2-theme1-main-bg);
  --smm2-alt-bg: var(--smm2-theme1-alt-bg);
  --smm2-blur-bg: var(--smm2-theme1-blur-bg);
  --smm2-focus-bg: var(--smm2-theme1-focus-bg);
  --smm2-focus-fg: var(--smm2-theme1-focus-fg);
  --smm2-card-bg: var(--smm2-theme1-card-bg);
  --smm2-card-fg: var(--smm2-theme1-card-fg);
  --smm2-card-radius: var(--smm2-theme1-card-radius);
  --smm2-card-shadow: var(--smm2-theme1-card-shadow);
  --smm2-textblock-bg: var(--smm2-theme1-textblock-bg);
  --smm2-btn-bg: var(--smm2-theme1-btn-bg);
  --smm2-btn-fg: var(--smm2-theme1-btn-fg);
  --smm2-btn-shadow: var(--smm2-theme1-btn-shadow);
  --smm2-btn-alt-bg: var(--smm2-theme1-btn-alt-bg);
  --smm2-btn-alt-fg: var(--smm2-theme1-btn-alt-fg);
  --smm2-btn-alt-shadow: var(--smm2-theme1-btn-alt-shadow);
}
[data-theme="2"] {
  --smm2-main-bg: var(--smm2-theme2-main-bg);
  --smm2-alt-bg: var(--smm2-theme2-alt-bg);
  --smm2-blur-bg: var(--smm2-theme2-blur-bg);
  --smm2-focus-bg: var(--smm2-theme2-focus-bg);
  --smm2-focus-fg: var(--smm2-white);
  --smm2-card-radius: var(--smm2-theme2-card-radius);
  --smm2-card-shadow: var(--smm2-theme2-card-shadow);
  --smm2-card-bg: var(--smm2-theme2-card-bg);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,.075);
  border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: var(--smm2-scrollbar-color);
}


[hidden] {
  display: none !important;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "MARIO MAKER";
  font-weight: 400;
  margin: 0;
}
p {
  margin: 0;
}
em {
  font-family: "MARIO MAKER";
  font-style: normal;
}
button {
  position: relative;
  appearance: none;
  font: inherit;
  text-align: center;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
}
button:focus::after {
  content: "";
  position: absolute;
  border-radius: 8px;
  clip-path: polygon(
    0 0, 0 1rem, 1rem 0, calc(100% - 1rem) 0,
    100% 1rem, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 1rem 100%,
    0 calc(100% - 1rem), 0 calc(100% - 1rem), 0 100%, 100% 100%, 100% 0);

  animation-name: button-focus;
  animation-duration: .4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes button-focus {
  0% {
    background-color: #ff6200;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
  }
  100% {
    background-color: #ff0000;
    top: -5px;
    left: -5px;
    width: calc(100% + (5px * 2));
    height: calc(100% + (5px * 2));
  }
}

select, option {
  font: inherit;
}
pre {
  background-color: #ecdcc2;
  padding: 1rem 4rem;
  margin: 1rem 0;
  border-radius: 8px;
  color: var(--smm2-brown);
  overflow: auto;
}

dialog {
  text-align: center;
  color: var(--smm2-brown);
  background-color: rgba(255, 253, 238, .7);
  backdrop-filter: blur(8px);
  max-width: 30rem;
  border: 0;
  border-top: 1rem solid rgba(209, 166, 25, .7);
  padding: 2rem 2rem .5rem;
}

.tabs {
  padding: 1rem;
  background-color: var(--smm2-main-bg);
}
.tabs .tab-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: .5rem;
  padding: 0 1rem;
  max-width: 768px;
}
.tabs .tab-header .tab {
  padding: .5rem 1rem;
  background-color: var(--smm2-blur-bg);
  color: var(--smm2-focus-bg);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  flex-grow: 1;
  text-align: center;
}
.tabs .tab-header .tab.selected {
  background-color: var(--smm2-focus-bg);
  color: var(--smm2-focus-fg);
}
.tabs .tab-content-wrapper {
  background-color: var(--smm2-alt-bg);
  padding: 1rem;
  box-shadow: rgba(0,0,0,.25) 0 1.5rem 1rem -1rem inset, rgba(0,0,0,.25) 0 -1.5rem 1rem -1rem inset;
}
.tabs .tab-content {
  overflow-y: scroll;
  position: relative;
  padding: 0 1rem;
}

.card {
  background-color: var(--smm2-card-bg);
  color: var(--smm2-card-fg);
  border-radius: var(--smm2-card-radius);
  box-shadow: var(--smm2-card-shadow);
  padding: .5rem;
}

.textblock {
  margin: .5rem 0 0 0;
  background-color: var(--smm2-textblock-bg);
  padding: 2.5% 5%;
  border: 0;
}
.textblock label {
  display: block;
  font-size: 85%;
  text-align: center;
  margin-top: -.75rem;
  margin-bottom: 1rem;
}

.chat {
  position: relative;
  min-height: 2.75rem;
  max-width: 30rem;
  margin: 3rem auto 1rem;
  padding: 2.5rem 4.5rem;
  border: .3rem solid var(--smm2-yellow);
  border-radius: 1.2rem;
  color: var(--smm2-brown);
  background-color: var(--smm2-beige);
}
.chat .from {
  position: absolute;
  top: 0;
  left: .75rem;
  transform: translateY(-100%);
  background-color: var(--smm2-yellow);
  font-style: normal;
  padding: .5rem 3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.btn, .btn-alt {
  margin: .5rem;
  padding: .5rem;
  border-radius: 6px;
}
.btn {
  background-color: var(--smm2-btn-bg);
  color: var(--smm2-btn-fg);
  box-shadow: var(--smm2-btn-shadow);
  max-width: 15rem;
}
.btn-alt {
  background-color: var(--smm2-btn-alt-bg);
  color: var(--smm2-btn-alt-fg);
  box-shadow: var(--smm2-btn-alt-shadow);
}

.card .btn {
  font-size: 1.25rem;
}